---
import { supabase } from '../../public/db/supabase';
type Usuario = {
  id_usuario: number;
  nombre: string;
  apellido: string;
};
const { data: usuarios, error } = await supabase
  .from('usuario')
  .select('*') as { data: Usuario[] | null; error: any };
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Usuarios</title>
  </head>
  <body>
    <h1>Usuarios Registrados</h1>
    {error && <p>Error: {error.message}</p>}
    <ul>
      {usuarios?.map((usuario) => (
        <li>
          {usuario.nombre} {usuario.apellido}
        </li>
      ))}
    </ul>
  </body>
</html>