---
import Layout from '../layouts/Layout.astro';
import Widget from "../components/widget.astro";
import TitleIcon from "../components/titleIcon.astro";
import List from "../components/list.astro";
import Section from "../components/section.astro";
import TopRankings from "../components/topRankings.astro";
---
<Layout>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body>
    <Section>
        <div class="flex flex-nowrap overflow-x-auto items-center justify-center w-2/6 pl-2 snap-x snap-mandatory scroll-pl-5 p-8 carrusel">
            <div class="elemento">
                <img id="currentImage"src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img id="currentImage" src="/dist/covers/apt.jpg" alt="">
            </div>
        </div>

        <div class="flex flex-no items-center rounded-3xl bg-backgroundSecondary w-4/6 gap-2 m-6 p-6 ml-0">
            <div class=" justify-between texto">
                <p class="currently text font-bold text-3xl">
                    Recientemente escuchado
                </p>
                <p id="titulo" class="titulo font-bold text-2xl">
                    APT
                </p>
                <a href="/artist">
                    <p id="autor" class="autor font-bold text-2xl">
                        Bruno Mars
                    </p>
                </a>
            </div>

            <div class="imagen">
                <img src="/dist/covers/apt.jpg" alt="" class="portada" id="currentImage">
            </div>
        </div>

    </Section>
    <Section flexOrientation="flex-row" extraClass="gap-0">
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Tus Canciones"></TitleIcon>
            <Widget width="w-72" height="h-fit" flex="flex-col">
                <a href="/topsongs"
                   class="flex flex-col justify-start items-center p-2 w-full h-full rounded-3xl border-none bg-backgroundSecondary">
                    <img src="/dist/covers/apt.jpg" alt="" class="w-52 h-52 rounded-2xl">
                </a>
                <a href="/topsongs" class="no-underline text-black">
                    <p class="titulo font-bold text-2xl">
                        Ver
                    </p>
                </a>
            </Widget>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/artist_icon.svg" title="Tus Artistas"></TitleIcon>
            <Widget width="w-72" height="h-fit" flex="flex-col">
                <a href="/topartists"
                   class="flex flex-col justify-start items-center p-2 w-full h-full rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/glass-animals.jpg" alt="" class="w-52 h-52 rounded-2xl">
                </a>
                <a href="/topartists" class="no-underline text-black">
                    <p class="titulo font-bold text-2xl">
                        Ver
                    </p>
                </a>
            </Widget>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/album_icon.svg" title="Tus Albums"></TitleIcon>
            <Widget width="w-72" height="h-fit" flex="flex-col">
                <a href="/topalbums"
                   class="flex flex-col justify-start items-center p-2 w-full h-full rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/plastic-beach.jpg" alt="" class="w-52 h-52 rounded-2xl">
                </a>
                <a href="/topalbums" class="no-underline text-black">
                    <p class="titulo font-bold text-2xl">
                        Ver
                    </p>
                </a>
            </Widget>
        </TopRankings>
    </Section>

    <Section flexOrientation="flex-row" extraClass="gap-6">
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Ranking Canciones"></TitleIcon>
            <div class="w-full">
                <List number="1" title="null"></List>
                <List number="2" title="null"></List>
                <List number="3" title="hola"></List>
                <List number="4" title="hola"></List>
                <List number="5" title="hola"></List>
                <List number="6" title="hola"></List>
                <List number="7" title="hola"></List>
                <List number="8" title="hola"></List>
                <List number="9" title="hola"></List>
                <List number="10" title="hola"></List>
            </div>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/artist_icon.svg" title="Ranking Artistas"></TitleIcon>
            <div class="w-full">
                <List number="1" title="null"></List>
                <List number="2" title="null"></List>
                <List number="3" title="null"></List>
                <List number="4" title="null"></List>
                <List number="5" title="null"></List>
                <List number="6" title="null"></List>
                <List number="7" title="null"></List>
                <List number="8" title="null"></List>
                <List number="9" title="null"></List>
                <List number="10" title="null"></List>
            </div>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/album_icon.svg" title="Ranking Albums"></TitleIcon>
            <div class="w-full">
                <List number="1" title="null"></List>
                <List number="2" title="null"></List>
                <List number="3" title="null"></List>
                <List number="4" title="null"></List>
                <List number="5" title="null"></List>
                <List number="6" title="null"></List>
                <List number="7" title="null"></List>
                <List number="8" title="null"></List>
                <List number="9" title="null"></List>
                <List number="10" title="null"></List>
            </div>
        </TopRankings>
    </Section>
    </body>
    <script>
        console.log(localStorage.spotifyToken)
        const token = localStorage.getItem("spotify_token");
        if (token) {
            fetch("https://api.spotify.com/v1/me/player/currently-playing", {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            }).then(res => res.json()).then(data => {
                    if (data?.item) {
                        const trackName = data.item.name;
                        const artistName = data.item.artists[0].name;
                        const trackImage = data.item.album.images[0].url;
                        document.getElementById("titulo").textContent = trackName;
                        document.getElementById("autor").textContent = artistName;
                        document.getElementById("currentImage").src=trackImage; //algo que modificar 2.0
                    }
                })
                .catch(err => console.error("Error al obtener la canción actual:", err));
        } else {
            console.warn("No hay token disponible");
        }
    </script>
</Layout>

<style>
    p {
        margin: 10px;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #D4D1F0;
        gap: 20px;
    }

    .tops {
        display: flex;
        gap: 60px;
        padding: 20px;
    }

    .cardview {
        background-color: #B8B2E6;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: 500px;
        width: 400px;
        border-radius: 5%;
        border: none;
    }

    .infografia {
        background-color: #9c93dc;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-top: 20px;
    }

    .img-card {
        height: 250px;
        width: 250px;
        border-radius: 10%;
        margin-top: 40px;
    }

    /* Personalización de la barra de scroll */
    .carrusel::-webkit-scrollbar {
        display: none;
    }

    .carrusel::-webkit-scrollbar-track {
        background: #b8b2e6;
        border-radius: 10px;
    }

    .carrusel::-webkit-scrollbar-thumb {
        background: #9c93dc;
        border-radius: 10px;
    }


    .elemento {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin: 0 20px;
        background-color: #9c93dc;
        width: 250px;
        height: 250px;
        scroll-snap-align: center;
        border-radius: 25px;
        overflow: hidden;
    }

    .elemento img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Hace que la imagen se ajuste sin deformarse */
        border-radius: 25px;
    }

    /* Asegurar que el primer y último elemento no se vean cortados */
    .elemento:first-child {
        margin-left: 20px;
    }

    .elemento:last-child {
        margin-right: 20px;
    }

    .recientemente {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px;
        border-radius: 30px;
        background-color: #9c93dc;
        width: 50%;
        height: 100%;
        gap: 10px;
    }


    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        width: 50%;
    }

    /* Mueve el texto 'otros oyentes' hasta abajo */
    .otros.oyentes {
        margin-top: auto;
    }

    /* Imagen dentro de 'recientemente' */
    .imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        border-radius: 20px;
        width: 275px;
    }

    .portada {
        width: 250px;
        height: 250px;
        border-radius: 20px;
        max-width: 250px;
    }
</style>