---
import Layout from '../layouts/Layout.astro';
import TopCard from "../components/topCard.astro";
import Widget from "../components/widget.astro";
import TitleIcon from "../components/titleIcon.astro";
import List from "../components/list.astro";
import Section from "../components/section.astro";
import TopRankings from "../components/topRankings.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body>
    <Section>
        <div class="flex flex-nowrap overflow-x-auto w-96 max-h-[275px] justify-center pl-2 snap-x snap-mandatory scroll-pl-5 p-8">
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="elemento">
                <img src="/dist/covers/apt.jpg" alt="">
            </div>
        </div>

        <div class="flex flex-row items-center rounded-3xl bg-backgroundSecondary w-[90rem] gap-2 p-8">
            <div class="texto">
                <p class="currently text font-bold text-3xl">
                    recientemente escuchado
                </p>
                <p class="titulo font-bold text-2xl">
                    sona
                </p>
                <p class="autor font-bold text-2xl">
                    Zedd
                </p>
                <div class="otros oyentes">
                    <p class="textoG">
                        otros oyentes
                    </p>
                </div>
            </div>

            <div class="imagen">
                <img src="/dist/covers/apt.jpg" alt="" class="portada">
            </div>
        </div>

    </Section>
    <Section flexOrientation="flex-row" extraClass="gap-6">
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Top Canciones"></TitleIcon>
            <Widget width="w-fit" height="h-fit" flex="flex-col">
                <a class="flex flex-col justify-start items-center p-2 w-56  rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/apt.jpg" alt="" class="w-64 h-64 rounded-3xl">
                </a>
                <p class="titulo font-bold text-2xl">
                    Ver
                </p>
            </Widget>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Top Canciones"></TitleIcon>
            <Widget width="w-fit" height="h-fit" flex="flex-col">
                <a class="flex flex-col justify-start items-center p-2 w-56 rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/apt.jpg" alt="" class="w-64 h-64 rounded-3xl">
                </a>
                <p class="titulo font-bold text-2xl">
                    Ver
                </p>
            </Widget>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Top Canciones"></TitleIcon>
            <Widget width="w-fit" height="h-fit" flex="flex-col">
                <a class="flex flex-col justify-start items-center p-2 w-56  rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/apt.jpg" alt="" class="w-64 h-64 rounded-3xl">
                </a>
                <p class="titulo font-bold text-2xl">
                    Ver
                </p>
            </Widget>
        </TopRankings>
    </Section>

    <Section flexOrientation="flex-row" extraClass="gap-6">
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Top Canciones"></TitleIcon>
            <div class="w-full">
                <List number="1" title="hola"></List>
                <List number="1" title="hola"></List>
            </div>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Top Canciones"></TitleIcon>
            <div class="w-full">
                <List number="1" title="hola"></List>
                <List number="1" title="hola"></List>
            </div>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Top Canciones"></TitleIcon>
            <div class="w-full">
                <List number="1" title="hola"></List>
                <List number="1" title="hola"></List>
            </div>
        </TopRankings>
    </Section>
    </body>
</Layout>

<style>
    p {
        margin: 10px;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #D4D1F0;
        gap: 20px;
    }

    .tops {
        display: flex;
        gap: 60px;
        padding: 20px;
    }

    .cardview {
        background-color: #B8B2E6;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: 500px;
        width: 400px;
        border-radius: 5%;
        border: none;
    }

    .infografia {
        background-color: #9c93dc;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-top: 20px;
    }

    .img-card {
        height: 250px;
        width: 250px;
        border-radius: 10%;
        margin-top: 40px;
    }

    /* Personalización de la barra de scroll */
    .carrusel::-webkit-scrollbar {
        height: 8px;
    }

    .carrusel::-webkit-scrollbar-track {
        background: #b8b2e6;
        border-radius: 10px;
    }

    .carrusel::-webkit-scrollbar-thumb {
        background: #9c93dc;
        border-radius: 10px;
    }


    .elemento {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin: 0 20px;
        background-color: #9c93dc;
        width: 275px;
        height: 275px;
        scroll-snap-align: center;
        border-radius: 25px;
        overflow: hidden;
    }


    .elemento img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Hace que la imagen se ajuste sin deformarse */
        border-radius: 25px;
    }

    /* Asegurar que el primer y último elemento no se vean cortados */
    .elemento:first-child {
        margin-left: 20px;
    }

    .elemento:last-child {
        margin-right: 20px;
    }

    .recientemente {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px;
        border-radius: 30px;
        background-color: #9c93dc;
        width: 50%;
        height: 100%;
        gap: 10px;
    }


    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        width: 50%;
    }

    /* Mueve el texto 'otros oyentes' hasta abajo */
    .otros.oyentes {
        margin-top: auto;
    }

    /* Imagen dentro de 'recientemente' */
    .imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        border-radius: 20px;
        width: 275px;
    }

    .portada {
        width: 250px;
        height: 250px;
        border-radius: 20px;
        max-width: 250px;
    }


</style>
