---
import Layout from '../layouts/Layout.astro';
import Widget from "../components/widget.astro";
import TitleIcon from "../components/titleIcon.astro";
import List from "../components/list.astro";
import Section from "../components/section.astro";
import TopRankings from "../components/topRankings.astro";
---
<Layout>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body class="flex flex-column bg-[background-primary] gap-12">
    <Section>
        <div class="flex flex-nowrap overflow-x-auto items-center justify-center w-2/6 pl-2 snap-x snap-mandatory scroll-pl-5 p-8 carrusel">
            <div class="flex justify-center items-center mr-5 bg-backgroundPrimary w-64 h-64 overflow-hidden rounded-md">
                <img id="carrusel6"src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="flex justify-center items-center mr-5 bg-backgroundPrimary w-64 h-64 overflow-hidden rounded-md">
                <img id="carrusel5" src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="flex justify-center items-center mr-5 bg-backgroundPrimary w-64 h-64 overflow-hidden rounded-md">
                <img id="carrusel4" src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="flex justify-center items-center mr-5 bg-backgroundPrimary w-64 h-64 overflow-hidden rounded-md">
                <img id="carrusel3" src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="flex justify-center items-center mr-5 bg-backgroundPrimary w-64 h-64 overflow-hidden rounded-md">
                <img id="carrusel2" src="/dist/covers/apt.jpg" alt="">
            </div>
            <div class="flex justify-center items-center mr-5 bg-backgroundPrimary w-64 h-64 overflow-hidden rounded-md">
                <img id="carrusel1" src="/dist/covers/apt.jpg" alt="">
            </div>
        </div>
        <div class="flex flex-no items-center rounded-3xl bg-backgroundSecondary w-4/6 gap-2 m-6 p-6 ml-0">
            <div class="flex flex-col justify-center flex-grow-1 w-1/2">
                <p class="currently text font-bold text-3xl m-2">
                    Recientemente escuchado
                </p>
                <p id="titulo" class="titulo font-bold text-2xl m-2">
                    APT
                </p>
                <a href="/artist">
                    <p id="autor" class="autor font-bold text-2xl m-2">
                        Bruno Mars
                    </p>
                </a>
            </div>
            <div class="flex justify-center items-center flex-grow-1 rounded-md w-64">
                <img src="/dist/covers/apt.jpg" alt="" class="h-64 rounded-xs max-h-64" id="currentImage">
            </div>
        </div>
    </Section>
    <Section flexOrientation="flex-row" extraClass="gap-0">
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Tus Canciones"></TitleIcon>
            <Widget width="w-72" height="h-fit" flex="flex-col">
                <a href="/topsongs"
                   class="flex flex-col justify-start items-center p-2 w-full h-full rounded-3xl border-none bg-backgroundSecondary">
                    <img src="/dist/covers/apt.jpg" alt="" class="w-52 h-52 rounded-2xl">
                </a>
                <a href="/topsongs" class="no-underline text-black">
                    <p class="titulo font-bold text-2xl">
                        Ver
                    </p>
                </a>
            </Widget>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/artist_icon.svg" title="Tus Artistas"></TitleIcon>
            <Widget width="w-72" height="h-fit" flex="flex-col">
                <a href="/topartists"
                   class="flex flex-col justify-start items-center p-2 w-full h-full rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/glass-animals.jpg" alt="" class="w-52 h-52 rounded-2xl">
                </a>
                <a href="/topartists" class="no-underline text-black">
                    <p class="titulo font-bold text-2xl m-2">
                        Ver
                    </p>
                </a>
            </Widget>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/album_icon.svg" title="Tus Albums"></TitleIcon>
            <Widget width="w-72" height="h-fit" flex="flex-col">
                <a href="/topalbums"
                   class="flex flex-col justify-start items-center p-2 w-full h-full rounded-3xl border-none bg-backgroundSecondary">
                    <img src="dist/covers/plastic-beach.jpg" alt="" class="w-52 h-52 rounded-2xl">
                </a>
                <a href="/topalbums" class="no-underline text-black">
                    <p class="titulo font-bold text-2xl m-2">
                        Ver
                    </p>
                </a>
            </Widget>
        </TopRankings>
    </Section>
    <Section flexOrientation="flex-row" extraClass="gap-6">
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/track_icon.svg" title="Ranking Canciones"></TitleIcon>
            <div class="w-full">
                <List number="1" title="null"></List>
                <List number="2" title="null"></List>
                <List number="3" title="hola"></List>
                <List number="4" title="hola"></List>
                <List number="5" title="hola"></List>
                <List number="6" title="hola"></List>
                <List number="7" title="hola"></List>
                <List number="8" title="hola"></List>
                <List number="9" title="hola"></List>
                <List number="10" title="hola"></List>
            </div>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/artist_icon.svg" title="Ranking Artistas"></TitleIcon>
            <div class="w-full">
                <List number="1" title="null"></List>
                <List number="2" title="null"></List>
                <List number="3" title="null"></List>
                <List number="4" title="null"></List>
                <List number="5" title="null"></List>
                <List number="6" title="null"></List>
                <List number="7" title="null"></List>
                <List number="8" title="null"></List>
                <List number="9" title="null"></List>
                <List number="10" title="null"></List>
            </div>
        </TopRankings>
        <TopRankings>
            <TitleIcon iconSrc="/dist/icons/album_icon.svg" title="Ranking Albums"></TitleIcon>
            <div class="w-full">
                <List number="1" title="null"></List>
                <List number="2" title="null"></List>
                <List number="3" title="null"></List>
                <List number="4" title="null"></List>
                <List number="5" title="null"></List>
                <List number="6" title="null"></List>
                <List number="7" title="null"></List>
                <List number="8" title="null"></List>
                <List number="9" title="null"></List>
                <List number="10" title="null"></List>
            </div>
        </TopRankings>
    </Section>
    </body>
    <script>
        console.log(localStorage.spotifyToken)
        const token = localStorage.getItem("spotify_token");
        if (token) {
            fetch("https://api.spotify.com/v1/me/player/currently-playing", {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            }).then(res => res.json()).then(data => {
                if (data?.item) { 
                    const track = data.item;
                    const trackName = track.name;
                    const artistName = track.artists[0].name;
                    const trackImage = track.album.images[0].url;
                    document.getElementById("titulo").textContent = trackName;
                    document.getElementById("autor").textContent = artistName;
                    document.getElementById("currentImage").src = trackImage;
                }
                })
            fetch("https://api.spotify.com/v1/me/player/recently-played?limit=6", {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            }).then(res => res.json()).then(data => {
                if (data?.items?.length > 0) { 
                    //ciclo para relacionar lo que es el carrusel con los ultimos tracks
                    let contador;
                    for(contador=0;contador<6;contador=contador+1){
                        document.getElementById("carrusel"+(contador+1)).src = data.items[contador].track.album.images[0].url;
                    }
                }
                })
        } else {
            console.warn("No hay token disponible");
        }
    </script>
</Layout>
<style>
    .carrusel::-webkit-scrollbar {
        display: none;
    }
    .carrusel::-webkit-scrollbar-track {
        background: #b8b2e6;
        border-radius: 10px;
    }
    .carrusel::-webkit-scrollbar-thumb {
        background: #9c93dc;
        border-radius: 10px;
    }
    .elemento img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    .elemento:first-child {
        margin-left: 20px;
    }
    .elemento:last-child {
        margin-right: 20px;
    }
    .otros.oyentes {
        margin-top: auto;
    }
</style>