---
import Layout from '../layouts/Layout.astro';
import Widget from "../components/widget.astro";
---
<Layout>
  <head>
    <title>Perfil</title>
</head>
<div class="flex justify-between items-start w-full p-8 bg-backgroundPrimary">
  <img src="/dist/icons/profile_icon.svg" class="block w-96 h-96 rounded-circle" alt="">
  <Widget flex="row" width="w-[400px]" height="h-auto">
    <p>Nombre de usuario</p>
    <p>Correo electronico</p>
    <p>Followers</p>
  </Widget>
</div>
</Layout>