---
import Widget from "../components/widget.astro";
import Layout from "../layouts/Layout.astro";
import List from "../components/list.astro";
import Section from "../components/section.astro"
---
<Layout>
    <div class="contenedor">
        <Widget w="200">
          <p class="currently text font-bold text-3xl">Top Artistas</p>
        </Widget>
        <div class="tiempo">
            <form action="" class="formulario">
            <label class="opcion">
                <span class="texto">Un día</span>
                <input type="radio" name="time" value="1dia" checked>
            </label>
            <label class="opcion">
                <span class="texto">Un mes</span>
                <input type="radio" name="time" value="1mes">    
            </label>
            <label class="opcion">
                <span class="texto">Un año</span>
                <input type="radio" name="time" value="1ano">
            </label>
            </form>
        </div>
    </div>
    <div class="lista">
    <Section flexOrientation="flex-col" extraClass="shadow-md">
        <List number="1" title="null"></List>
        <List number="2" title="null"></List>
        <List number="3" title="null"></List>
        <List number="4" title="null"></List>
        <List number="5" title="null"></List>
        <List number="6" title="null"></List>
        <List number="7" title="null"></List>
        <List number="8" title="null"></List>
        <List number="9" title="null"></List>
        <List number="10" title="null"></List>
    </Section>
    </div>
</Layout>

<style>
    body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    }
    .lista{
    margin-top: 50px;
    }
    .contenedor{
        display: flex;
        flex-direction: row;
    }
    .tiempo{
        display: flex;
        flex-direction: column;
        background-color: #B8B2E6;
    }
    .opcion {
        display: flex;
        align-items: center;
        gap: 10px;
        
    }
    .formulario {
        display: flex;
        flex-direction: column;
    }   
    .texto {
        display: inline-block;
        width: 80px; 
        text-align: right;
    }
</style>