---
const {number, title, src} = Astro.props
var src1;
if (src == null) {
    src1 = "/dist/covers/apt.jpg";
} else {
    src1 = src;
}
---
<div class="flex flex-row w-full h-fit p-2 rounded-2xl justify-start items-center mb-2 bg-backgroundSecondary">
  <img src={src1} alt="aca" class="w-10 h-10 me-3 rounded-xl" />
  <div class="flex flex-row items-center justify-center">
    <p class="font-medium text-xl m-0 pr-2">{number}</p>
    <p class="font-medium text-xl m-0">{title}</p>
  </div>
</div>