<a href="" class="no-underline hover:no-underline" id=autorizar>
    <div class="flex flex-row w-52 h-12 items-center bg-backgroundPrimary rounded-full cursor-pointer">
        <img class="w-12 h-12 icon p-2 pl-0 mr-2" src="/dist/logos/spotify_logo.svg">
        <p class="autor font-bold text-xl m-0 text-black">Iniciar Sesion</p>
    </div>
</a>