---
import TitleIcon from "./titleIcon.astro";
const {title, iconSrc, coverSrc} = Astro.props;
---

<a class="flex flex-col justify-start items-center p-8 w-[15rem] h-[30rem] rounded-3xl border-none bg-backgroundSecondary py-12">
    <TitleIcon iconSrc={iconSrc} title={title}]></TitleIcon>
    <img src={coverSrc} alt="" class="img-card w-64 h-64 rounded-3xl">
</a>