---
import {ViewTransitions} from "astro:transitions"
import "../styles/global.css";
import RoundedLink from "../components/roundedLink.astro";

const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html class="flex justify-center items-center" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center w-[60rem] pt-8">
<header class="w-full !justify-between">
    <RoundedLink iconSrc="/dist/icons/home_icon.svg" link="/"></RoundedLink>

    <div class="search-wrapper">
        <!-- Botón visible inicialmente -->
        <div id="btn-search" class="flex items-center pl-[20px] search-input">
            <p class="mb-0">Buscar</p>
        </div>
        <!-- Barra con input y opciones -->
        <div id="barra-busqueda">
            <input type="text" class="search-input" placeholder="Buscar..."/>

            <!-- Lista dentro del wrapper -->
            <ul class="w-full" id="box-search">
                <li class="w-full"><i class="fa-thin fa-magnifying-glass"></i> Opción 1</li>
                <li class="w-full"><i class="fa-thin fa-magnifying-glass"></i> Opción 2</li>
                <li class="w-full"><i class="fa-thin fa-magnifying-glass"></i> Opción 3</li>
                <li class="w-full"><i class="fa-thin fa-magnifying-glass"></i> Opción 4</li>
            </ul>
        </div>
    </div>

    <RoundedLink iconSrc="/dist/icons/profile_icon.svg" link="/profile"></RoundedLink>
</header>

<main>
    <slot/>
</main>

<script>
    const btnSearch = document.getElementById('btn-search');
    const barraBusqueda = document.getElementById('barra-busqueda');
    const searchWrapper = document.querySelector('.search-wrapper');

    btnSearch.addEventListener('click', () => {
        btnSearch.style.display = 'none';
        barraBusqueda.style.display = 'block';
    });

    // Detectar clic fuera de la barra de búsqueda
    document.addEventListener('click', (e) => {
        const isClickInside = searchWrapper.contains(e.target);

        if (!isClickInside) {
            barraBusqueda.style.display = 'none';
            btnSearch.style.display = 'flex';
        }
    });
</script>

</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    * {
        box-sizing: border-box;
    }

    .search-wrapper {
        position: relative;
        width: 540px;
        margin: 0 auto;
    }

    #barra-busqueda {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 20px 20px 20px;

        background-color: #B8B2E6;
        border-radius: 30px;

        z-index: 10;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .search-input {
        width: 100%;
        height: 50px;

        font-size: 16px;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: #B8B2E6;
        margin-bottom: 10px;
    }

    #box-search {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #box-search li {
        padding: 10px 20px;
        background-color: #a393e6;
        margin-bottom: 8px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        transition: background 0.3s;
    }

    #box-search li:hover {
        background-color: #8a7cd1;
    }


    html {
        font-family: "Montserrat", sans-serif;;
    }

    body {
        width: 100%;
        margin: 0;
        background-color: #D4D1F0;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .icon {
        width: 50px;
        height: 50px;
        background-color: #B8B2E6;
        border-radius: 50%;
    }

    .search-container {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
</style>